@font-face {
  font-family: "Main-Font";
  src: url('fonts/CaviarDreams.woff') format('woff'), url('fonts/CaviarDreams.ttf') format('truetype'), url('fonts/Caviar_Dreams_Bold.woff') format('woff'), url('fonts/Caviar_Dreams_Bold.ttf') format('truetype'), url('fonts/CaviarDreams_BoldItalic.woff') format('woff'), url('fonts/CaviarDreams_BoldItalic.ttf') format('truetype'), url('fonts/CaviarDreams_Italic.woff') format('woff'), url('fonts/CaviarDreams_Italic.ttf') format('truetype');
}
/* line 3, ../sass/contacts.scss */
.contacts-data {
  width: 100%;
}
