@font-face {
  font-family: "Main-Font";
  src: url('fonts/CaviarDreams.woff') format('woff'), url('fonts/CaviarDreams.ttf') format('truetype'), url('fonts/Caviar_Dreams_Bold.woff') format('woff'), url('fonts/Caviar_Dreams_Bold.ttf') format('truetype'), url('fonts/CaviarDreams_BoldItalic.woff') format('woff'), url('fonts/CaviarDreams_BoldItalic.ttf') format('truetype'), url('fonts/CaviarDreams_Italic.woff') format('woff'), url('fonts/CaviarDreams_Italic.ttf') format('truetype');
}
@font-face {
  font-family: "Main-Font";
  src: url('fonts/CaviarDreams.woff') format('woff'), url('fonts/CaviarDreams.ttf') format('truetype'), url('fonts/Caviar_Dreams_Bold.woff') format('woff'), url('fonts/Caviar_Dreams_Bold.ttf') format('truetype'), url('fonts/CaviarDreams_BoldItalic.woff') format('woff'), url('fonts/CaviarDreams_BoldItalic.ttf') format('truetype'), url('fonts/CaviarDreams_Italic.woff') format('woff'), url('fonts/CaviarDreams_Italic.ttf') format('truetype');
}
/* line 3, ../sass/_edt-search.scss */
#edt * #edtSearchBar {
  width: 100%;
  background-color: #0093cb;
  height: 40px;
}

/* line 9, ../sass/_edt-search.scss */
#edt * #edtSearchBar * core-dropdown-menu::shadow #control {
  margin: 0px 0px;
  width: 30px;
  background-color: #0093cb;
  height: 30px;
}

/** TAL VEZ HAYA QUE SACAR ESTO MAS ADELANTE	*/
/* line 18, ../sass/_edt-search.scss */
#edt * #edtSearchBar * core-dropdown-menu::shadow #control > core-icon {
  margin: 0px 0px;
}

/* line 22, ../sass/_edt-search.scss */
#edt * #edtSearchBar * core-dropdown-menu::shadow #control > core-item {
  margin: 0px 0px;
}

/****************************************************/
/* line 28, ../sass/_edt-search.scss */
#edt * #edtSearchBar * core-dropdown-menu::shadow #dropdown {
  background-color: #7fd6f7;
  border: 1px solid #24265D;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0;
  width: auto;
  max-height: 200px;
}

/* line 36, ../sass/_edt-search.scss */
#edt * #edtSearchBar * core-dropdown-menu * core-item::shadow #icon {
  color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
}

/* line 41, ../sass/_edt-search.scss */
#edt * #edtSearchBar paper-button {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/* line 47, ../sass/_edt-search.scss */
#edt * #edtSearchBar core-item {
  font-family: "Main-Font";
  font-size: 0.875em;
  color: #FFFFFF;
  font-weight: bold;
}

/* line 51, ../sass/_edt-search.scss */
#edt * #edtsel {
  font-family: "Main-Font";
  font-size: 0.875em;
  color: #FFFFFF;
  font-weight: bold;
}
@media only screen and (max-width: 479px) {
  /* line 51, ../sass/_edt-search.scss */
  #edt * #edtsel {
    font-size: 0.75em;
  }
}

/* line 56, ../sass/_edt-search.scss */
#edt * #edtselicon {
  color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
}

@media only screen and (max-width: 479px) {
  /* line 4, ../sass/edt-mecuncu.scss */
  body {
    margin: 0px;
  }
}

/* line 8, ../sass/edt-mecuncu.scss */
#edt table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

@media only screen and (max-width: 479px) {
  /* line 14, ../sass/edt-mecuncu.scss */
  #edt #edt {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 14, ../sass/edt-mecuncu.scss */
  #edt #edt {
    width: 450px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 14, ../sass/edt-mecuncu.scss */
  #edt #edt {
    width: 700px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 14, ../sass/edt-mecuncu.scss */
  #edt #edt {
    width: 900px;
  }
}

/* line 21, ../sass/edt-mecuncu.scss */
#edt * .edt-head {
  font-family: "Main-Font";
  font-size: 1.0625em;
  color: #d3d3de;
  text-align: center;
  background-color: #2e3065;
}

/* line 27, ../sass/edt-mecuncu.scss */
#edt * .edt-head-wrap {
  width: 90px;
  text-align: center;
}
@media only screen and (max-width: 479px) {
  /* line 27, ../sass/edt-mecuncu.scss */
  #edt * .edt-head-wrap {
    width: 100%;
  }
}

/* line 33, ../sass/edt-mecuncu.scss */
#edt * .edt-head-time-h {
  display: table-cell;
  text-align: center;
}
@media only screen and (max-width: 479px) {
  /* line 33, ../sass/edt-mecuncu.scss */
  #edt * .edt-head-time-h {
    display: none;
  }
}

/* line 39, ../sass/edt-mecuncu.scss */
#edt * .edt-caption {
  font-family: "Main-Font";
  font-size: 1.25em;
  color: #12132e;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

/* line 45, ../sass/edt-mecuncu.scss */
#edt * .edt-logo {
  max-width: 80px;
  vertical-align: middle;
  display: block;
  float: left;
}
@media only screen and (max-width: 479px) {
  /* line 45, ../sass/edt-mecuncu.scss */
  #edt * .edt-logo {
    display: none;
  }
}

/* line 53, ../sass/edt-mecuncu.scss */
#edt * .edt-footer {
  font-family: "Main-Font";
  font-size: 0.8125em;
  color: #12132e;
  border-bottom: 2px solid #24265D;
  padding-top: 5px;
  width: 100%;
  text-align: right;
}

/* line 61, ../sass/edt-mecuncu.scss */
#edt * .edt-days {
  font-family: "Main-Font";
  font-size: 0.9375em;
  color: #24265D;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  background-color: #bdbdce;
}

/* line 69, ../sass/edt-mecuncu.scss */
#edt * .edt-times-h {
  background-color: #dee2e6;
  display: table-cell;
  border-bottom: 1px solid #b1b4b8;
  padding: 0;
}
@media only screen and (max-width: 479px) {
  /* line 69, ../sass/edt-mecuncu.scss */
  #edt * .edt-times-h {
    display: none;
  }
}

/* line 77, ../sass/edt-mecuncu.scss */
#edt * .chartContainer {
  width: 100%;
  height: 70px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* line 85, ../sass/edt-mecuncu.scss */
#edt * .chartContainer * core-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 89, ../sass/edt-mecuncu.scss */
#edt * .chartContainerV {
  background-color: #dee2e6;
  display: none;
  text-align: left;
  width: 100%;
  height: 500px;
  position: relative;
}
@media only screen and (max-width: 479px) {
  /* line 89, ../sass/edt-mecuncu.scss */
  #edt * .chartContainerV {
    display: table-cell;
  }
}

/* line 99, ../sass/edt-mecuncu.scss */
#edt * .chartContainerV * core-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 103, ../sass/edt-mecuncu.scss */
#edt * .edt-block-info {
  font-family: "Main-Font";
  font-size: 0.625em;
  color: #000000;
  font-weight: bold;
}
