@font-face {
  font-family: "Main-Font";
  src: url('fonts/CaviarDreams.woff') format('woff'), url('fonts/CaviarDreams.ttf') format('truetype'), url('fonts/Caviar_Dreams_Bold.woff') format('woff'), url('fonts/Caviar_Dreams_Bold.ttf') format('truetype'), url('fonts/CaviarDreams_BoldItalic.woff') format('woff'), url('fonts/CaviarDreams_BoldItalic.ttf') format('truetype'), url('fonts/CaviarDreams_Italic.woff') format('woff'), url('fonts/CaviarDreams_Italic.ttf') format('truetype');
}
/* line 3, ../sass/main.scss */
.body-wrap {
  width: 60%;
}

/* line 7, ../sass/main.scss */
.site-wrap {
  display: flex;
  justify-content: center;
}

/* line 12, ../sass/main.scss */
.pub-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  margin-top: 80px;
}

/* line 20, ../sass/main.scss */
.pub-pic {
  width: auto;
  height: 60px;
}

/* line 27, ../sass/main.scss */
.contact-field {
  padding: 2px;
  height: 76px;
  vertical-align: middle;
  border-bottom: 1px solid #e4e4f2;
}

/* line 34, ../sass/main.scss */
.contact-field:before {
  /* create a full-height inline block pseudo=element */
  content: ' ';
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  height: 100%;
}

/* line 42, ../sass/main.scss */
.contact-pic {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  height: 100%;
}

/* line 48, ../sass/main.scss */
.contact-data {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 53, ../sass/main.scss */
.contact-field-buttons {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  float: right;
  padding: 2px;
  list-style-type: none;
}

/* line 62, ../sass/main.scss */
.contact-field-button {
  width: 100%;
}

/* line 66, ../sass/main.scss */
.alert {
  font-size: 15px;
}

/* line 71, ../sass/main.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 76, ../sass/main.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 80, ../sass/main.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 83, ../sass/main.scss */
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

/* line 92, ../sass/main.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 95, ../sass/main.scss */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 100, ../sass/main.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 106, ../sass/main.scss */
.help-block {
  font-size: 12px;
}

/* line 110, ../sass/main.scss */
.home-singup-btn {
  width: 300px;
}

/* line 114, ../sass/main.scss */
#updateCorrect {
  color: #25d347;
}
