graph.db/
app/bower_components
mongodata
mongodb
node_modules
nbproject/
.project
.sass-cache
.tmp
routes/upload
server.crt
server.key
neo4j*/
!neo4j*/conf/neo4j-server.properties
!neo4j*/conf/neo4j.properties
app/styles
*.*~
*/*.*~
*.log
*/*.log
/nbproject/private/
dist/

# start-stop services scripts
mongoRun
mongoStop
neoRun
neoStop

# Vim temp files
.*.swp

# Temp download folder
tmp_download_dir

# SSL Certificate files
*.key
*.crt
*.csr

# testDataset created files
testDataset/people_email_pass.csv
testDataset/people_email_pass_salt.csv
testDataset/usersIDs.csv
