# npm and bower dependencies
app/bower_components
node_modules

# MongoDB database
mongodata

# IDEs created files
nbproject/
.project
/nbproject/private/

# Dist created files
.sass-cache
.tmp
*.*~
*/*.*~
*.log
*/*.log
dist/

# Uploaded files 
routes/upload

# start-stop services scripts
mongoRun
mongoStop
neoRun
neoStop

# Vim temp files
.*.swp

# Temp download folder
tmp_download_dir

# Bin directory
bin/

# SSL Certificate files
*.key
*.crt
*.csr

# testDataset created files
testDataset/people_email_pass.csv
testDataset/people_email_pass_salt.csv
testDataset/usersIDs.csv

# Ignore compiled css, include static css 
app/styles/*
!app/styles/static/

