<div class="contact-field form-group" ng-repeat="person in people" >
	<img class="img-thumbnail contact-pic" ng-src="{{person.link}}" alt="contact pic"/>
	<div class="contact-data">
		<a ng-href="#/profile/{{person.idNEO}}"><label>{{person.firstName}}</label>
		<label>{{person.lastName}}</label><br/></a>
		<label>{{person.profession}}</label> - 
		<label>{{person.phone}}</label>
	</div>
	<ul  class="contact-field-buttons">
		<li><button class="btn btn-danger contact-field-button" ng-click="ops.deleteFriend(person.id)">Delete</button></li>
	</ul>
</div>