@import "../../sass/site-base";

.header {
	width: 100%;
	border-bottom: 3px solid black;
	background-color: $headerBgColor;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.header-wrap {
	width: 60%;
	display: flex;
	justify-content: flex-end;
	@include respond-to(mobile){justify-content: flex-start};
  	align-content: center;
  	list-style-type: none;
  	margin: 0;
  	@include respond-to(mobile){width: 100%; padding-left: 0px};
	@include respond-to(big-mobile){width: 450px};
	@include respond-to(tablets){width: 700px};
	@include respond-to(wide){width: 900px};
}

.nav-link a {
	color: white;
}

.nav-link {
	font-size: 1.3em;
	font-weight: bold;
	padding: 20px;
}

.nav-active a,
.nav-link a:hover {
	color: #99d6ea;
	text-decoration: none;
}

.nav-active,
.nav-link:hover {
	background-color: #595959;	
}

.nav-title {
	flex-grow: 4;
}

.nav-title:hover {
	
	background-color: transparent;
}

.nav-title a:hover,
.nav-title a:visited {
	color: white;
	text-decoration: none;
}

.nav-menu {
	font-size: 1.2em;
	display: none;
	@include respond-to(mobile){
		display: block;
	};
}

.hide-mobile {
	
	@include respond-to(mobile){display: none}
}

#langButton {
	height: auto;
}