<center> <img src="cid:unique@gmail" alt="Red Social" align="midle" style="width:150px;height:150px;"> </center>

<h1>¡Te damos la bienvenida!</h1>
<p><%= name %> <%= lastname %> : gracias por registrarte. Para completar tu suscripción ingresa al siguiente link: </p>
<a href=<%= link %>>Activacion</a>
<p>Asociación de Mecatrónica UNCuyo</p>
