<div class="sign-container">	
	<h2>{{translation.main['regin']}} Red-Social-Asociacion!</h2>
    <div class="sign-form">
        <form id="signUpForm" ng-submit="signup()" data-parsley-validate>
            <div class="sign-input-wrap">
		    <input type="text" ng-model="fields.firstName" name="firstName" placeholder="{{translation.forms['firstName']}}" class="sign-input" required>
            </div>
            <div class="sign-input-wrap">
		    <input type="text" ng-model="fields.lastName" name="lastName" placeholder="{{translation.forms['lastName']}}" class="sign-input" required>
            </div>
            <div class="sign-input-wrap">
              <input type="email" ng-model="fields.email" name="email" id="email" placeholder="Email" class="sign-input"
              	data-parsley-trigger="change" required>
            </div>
            <div class="sign-input-wrap">
		    <input type="password" ng-model="fields.password" name="password" id="password" placeholder="{{translation.forms['password']}}" class="sign-input" required>
            </div>
            <div class="sign-input-wrap">
		    <button  type="submit" form="signUpForm" class="sign-up-btn">{{translation.forms['signup']}}</button>
            </div>
        </form>
    </div>
</div>
