<div > 
    <div ng-show="!session.isLoggedIn()">
        <div class="sign-btns-container">
		<button class="sign-up-btn" ng-click="hideSignUp = !hideSignUp;hideSignIn = true">{{translation.forms['signup']}}<span class="fa fa-eject"></span></button>
		<button class="sign-in-btn" ng-click="hideSignIn = !hideSignIn;hideSignUp = true">{{translation.forms['signin']}}<span class="fa fa-play"></span></button>
    	</div>

        <div collapse="hideSignUp" class="sign-collapse">
            <rsa-home-signup></rsa-home-signup>
        </div>

        <div collapse="hideSignIn" class="sign-collapse">
            <rsa-home-signin></rsa-home-signin>
        </div>

    </div>
    <rsa-home-user rsa-they="they" rsa-host="session.host"></rsa-home-user>
</div>
