<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="linkedEnibApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="app/favicon.ico" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="app/styles/main.css"/>
    <link rel="stylesheet" href="app/styles/profile.css"/>
    <link rel="stylesheet" href="app/styles/signops.css"/>
    <link rel="stylesheet" href="app/styles/navbar.css"/>
    <link rel="stylesheet" href="app/styles/contacts.css"/>
    <link rel="stylesheet" href="app/styles/about.css"/>
    <link rel="stylesheet" href="app/styles/checkbox.css"/>
    <link rel="stylesheet" href="app/styles/edt-mecuncu.css"/>
    <link rel="stylesheet" href="app/styles/activity-form.css"/>
    <link rel="stylesheet" href="app/styles/admin.css"/>
    <link rel="stylesheet" href="app/styles/static/jquery-ui-custom/jquery-ui.min.css"/>
    <link rel="stylesheet" href="bower_components/jQuery.mmenu/src/css/jquery.mmenu.css"/>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="content" class="site-wrap" ng-controller="ParentCtrl">
        <!-- BARRA DE NAVEGACIÓN -->
        <div ng-controller="NavBarCtrl">
            <div class="header">
                    <div class="dropdown newActSelect">
                        <button id="langButton" class="edtSearchBtn newActBtn dropdown-toggle" type="button">
                            <img src="images/lang/{{session.lang}}.png"
                                    height="11" width="16" alt="language">
                        </button>
                        <ul id="langDropDown" class="dropdown-menu scrollable-menu edt-newact-dropdown" role="menu">
                            <li role="presentation" ng-repeat="lang in avLangs">
                                <img src="/images/lang/{{lang}}.png" role="menuitem" tabindex="-1"
                                   ng-click="selectLang(lang)" height="11" width="16"
                                   class="langField">
                            </li>
                        </ul>
                    </div>
                
                    <ul class="header-wrap">
                        <li class="nav-link nav-menu">
                            <a id="mobilemenu" ng-click="toggleMMenu()"><i class="fa fa-fw fa-bars"></i></a>
                        </li>
                        <li class="nav-link nav-title">
                            <a></a>
                        </li>
                        <li class="nav-link hide-mobile" ng-repeat="navBarItem in navBarItems" ng-show="navBarItem.visible" ng-class='{"nav-active": navBarItem.active}'>
                            <a ng-href="{{navBarItem.href}}">{{navBarItem.name}}</a>
                        </li>
                    </ul> 
            </div>

            <nav id="navbar">
                <ul>
                    <li ng-repeat="navBarItem in navBarItems" ng-show="navBarItem.visible" ng-class='{"nav-active": navBarItem.active}'>
                        <a ng-href="{{navBarItem.href}}">{{navBarItem.name}}</a>
                    </li>
                </ul> 
            </nav>

        </div>

        <div class="body-wrap">
            <!-- BARRA DE PUBLICIDAD -->
			<!--div class="pub-bar">
				<img class="pub-pic" src="app/images/pub/pubMECUNCU.jpg" alt="pubMECUNCU"/>
				<img class="pub-pic" src="app/images/pub/pubUNCUYO.jpg" alt="pubUNCUYO"/>
				<img class="pub-pic" src="app/images/pub/pubENIB.jpg" alt="pubENIB"/>
				<img class="pub-pic" src="app/images/pub/pubFING.png" alt="pubFING"/>				
			</div-->
			
			<div ng-view="" class="mobile-margin"></div>
        </div>
    </div>
    
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bower-angular-placeholders/angular-placeholders.js"></script>
    <script src="bower_components/parsleyjs/dist/parsley.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/jQuery.mmenu/src/js/jquery.mmenu.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="app/scripts/app.js"></script>
        <script src="app/scripts/controllers/SearchCtrl.js"></script>
        <script src="app/scripts/controllers/ProfileCtrl.js"></script>
        <script src="app/scripts/controllers/ParentCtrl.js"></script>
        <script src="app/scripts/controllers/MainCtrl.js"></script>
        <script src="app/scripts/controllers/NavBarCtrl.js"></script>
        <script src="app/scripts/controllers/EdtCtrl.js"></script>
        <script src="app/scripts/controllers/AdminCtrl.js"></script>
        <!-- endbuild -->
</body>
</html> 
