<div ng-controller="NavBarCtrl">
	<div class="header">
        	<div class="dropdown newActSelect">
                	<button id="langButton" class="edtSearchBtn newActBtn dropdown-toggle" type="button">
                        	<img src="assets/images/lang/{{session.getLang()}}.png"
                                    height="11" width="16" alt="language">
                        </button>
                        <ul id="langDropDown" class="dropdown-menu scrollable-menu edt-newact-dropdown" role="menu">
                            <li role="presentation" ng-repeat="lang in avLangs">
                                <img src="assets/images/lang/{{lang}}.png" role="menuitem" tabindex="-1"
                                   ng-click="selectLang(lang)" height="11" width="16"
                                   class="langField">
                            </li>
                        </ul>
               </div>

               <ul class="header-wrap">
                        <li class="nav-link nav-menu">
                            <a id="mobilemenu" ng-click="toggleMMenu()"><i class="fa fa-fw fa-bars"></i></a>
                        </li>
                        <li class="nav-link nav-title">
                            <a></a>
                        </li>
                        <li class="nav-link hide-mobile" ng-repeat="navBarItem in navBarItems" ng-show="navBarItem.visible" ng-class='{"nav-active": navBarItem.active}'>
                            <a ng-href="{{navBarItem.href}}">{{navBarItem.name}}</a>
                        </li>
        	</ul>
	</div>

        <nav id="navbar">
                <ul>
                    <li ng-repeat="navBarItem in navBarItems" ng-show="navBarItem.visible" ng-class='{"nav-active": navBarItem.active}'>
                        <a ng-href="{{navBarItem.href}}">{{navBarItem.name}}</a>
                    </li>
        	</ul> 
	</nav>
</div>
