@import "site-base";

#edtSearchBar {
	width: 100%;
	background-color: $edtSearchBarBgColor;
	height: $edtSearchBarHeight+px;
	display: flex;
	align-content: center;
}

#edtSearchBar .edtSearchBtn {
	height: 100%;
	border: none;
	@include border-radius(0);
	background-color: $edtSearchBarBgColor;
	@include edt-search-bar-font;
}

#edtSearchIcon,
#edtWeekIcon {
	margin: 0 10px;
}

/** TAL VEZ HAYA QUE SACAR ESTO MAS ADELANTE	*/

#edtSearchBar * core-dropdown-menu::shadow #control > core-icon {
	margin: 0px 0px;
}

#edtSearchBar * core-dropdown-menu::shadow #control > core-item {
	margin: 0px 0px;
}

/****************************************************/

.edt-search-dropdown {
    background-color: tint($edtLightColor,50);
    border: 1px solid $edtDarkColor;
    @include border-radius(0);
    width: auto;
    max-height: 200px;
    height: auto;
    overflow-x: hidden;
    z-index: 20;
}

#edtSearchBar * core-dropdown-menu * core-item::shadow #icon {
	color: black;
	@include opacity(0.65);
}