@import "site-base";

#edtSearchBar {
	width: 100%;
	background-color: $edtSearchBarBgColor;
	height: $edtSearchBarHeight+px;
	display: flex;
	align-content: center;
	@include respond-to(mobile){display: block; height: auto};
}

.edtSearchBtn {
	height: 100%;
	border: none;
	@include border-radius(0);
	background-color: $edtSearchBarBgColor;
	@include edt-search-bar-font;
	max-width: 250px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#edtSearchIcon,
#newActivityIcon,
#edtWeekIcon {
	margin: 0px 10px 0px 0px;
}

.edtSearchGroup {
	display: flex;
	justify-content: space-between;
	@include respond-to(mobile){padding: 5px 0px};
}

/****************************************************/

.edt-search-dropdown {
    background-color: tint($edtLightColor,50);
    border: 1px solid $edtDarkColor;
    @include border-radius(0);
    width: auto;
    max-height: 200px;
    height: auto;
    overflow-x: hidden;
    z-index: 20;
}

#edtSearchBar * core-dropdown-menu * core-item::shadow #icon {
	color: black;
	@include opacity(0.65);
}