@import 'site-base';

.about-container {
  display: flex;
  justify-content: space-around;
}

.about-contact {
  width: 200px;
  padding: 5px;
}

.aboutPic {
  width: 100%;
  @include border-radius(100px);
}

.aboutName {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.aboutEmail {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}