@import 'site-base';

.activity-form {
	
	width: 50%;
	min-width: 450px;
	@include respond-to(mobile){padding: 0 10px; min-width: 0px; width: 100%};
}

.caret {
	margin-left: 10px;
}

#newActWrap * .sign-up-btn {
	margin: 5px 10px;
	@include respond-to(mobile){width: 100%; margin: 5px 0;};
}

.newActBtn {
	
	height: 40px;
	border: 1px solid #ACACAC;
	@include border-radius(0);
	background-color: #FFF;
	@include edt-search-bar-font;
	font-size: 0.9em;
	color: #595959;
	margin: 5px 10px;
	max-width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	@include respond-to(mobile){margin: 5px 0; max-width: none; width: 100%};
}

.newActLbl{
	
	border: none;
}

.newActIcon {
	
	color: #595959;
}

.edt-newact-dropdown {
	
	background-color: #FFF;
    border: 1px solid #595959;
    @include border-radius(0);
    width: auto;
    max-height: 200px;
    height: auto;
    overflow-x: hidden;
    z-index: 20;
}

#newActWhere {
	
	width: auto;
	@include respond-to(mobile){width: 100%}
}

#newActForm {

	margin: 30px 0px;
}

#newActWrap {
	
	border: 1px solid #ACACAC;
}

#WrongAct {
	
	@include border-radius(0);
}