@import "site-base";
@import "edt-search";

#edt table {
	border-collapse: collapse;	
	table-layout: fixed;
	width: 100%;
}

#edt {
	@include respond-to(mobile){width: 100%};
	@include respond-to(big-mobile){width: 450px};
	@include respond-to(tablets){width: 700px};
	@include respond-to(wide){width: 900px};
}

.edt-head {
	@include edt-head-font;
	text-align: center;
	background-color: $edtHeadBgColor;
}

.edt-head-wrap {
	width: 90px;
	@include respond-to(mobile){width: 100%};
	text-align: center;
}

.edt-head-time-h {
	display: table-cell;
	@include respond-to(mobile){display: none};
	text-align: center;
}

.edt-logo {
	max-width: 80px;
	vertical-align: middle;
	display: block;
	@include float-left;
	@include respond-to(mobile){display: none};
}

.edt-footer {
	@include edt-footer-font;
	border-bottom: 2px solid $edtDarkColor;
	padding-top: 5px;
	width: 100%;
	text-align: right;
}

.edt-days {
	@include edt-days-font;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	background-color: $edtDaysBgColor;
	border-bottom: 1px solid shade($edtTimesBgColor, 20);
}

.edt-times-h {
	background-color: $edtTimesBgColor;	
	display: table-cell;
	border-bottom: 1px solid shade($edtTimesBgColor, 20);
	@include respond-to(mobile){display: none};
	padding: 0;
}

.chartContainer {
	width: 100%;
	height: $edtChartHeightH+px;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.chartContainer * core-icon {
	@include opacity(0.7);
}

.chartContainerV {
	background-color: $edtTimesBgColor;
	display: none;
	text-align: left;
	width: 100%;
	@include respond-to(mobile){display: table-cell};
	height: $edtChartHeightV+px;
	position: relative;
}

.chartContainerV * core-icon {
	@include opacity(0.7);
}

.edt-block-info {
	@include edt-block-info-font;
}
