@import 'site-base';

.profile-btn:hover,
.profile-bar-link:hover,
profile-bar-link:active,
profile-bar-link:visited {
  background-color: #595959;
  text-decoration: none;
  color: #99d6ea;
}

.profile-nav-bar {
	background-color: #19a3d1;
	width: 100%;
}

.profile-bar-link {
	color: white;
	font-size: 1em;
	font-weight: bold;
	padding: 10px 20px;
	margin: 0;
	text-align: right;
	width: 100%;
	display: block;
}

.profile-container {
	display: flex;
	justify-content: center;
}

.profile-bar {

}

.profile-data-table {
	
	width: 100%;
}

.profile-input:disabled {
	background-color: #595959;
	color: #9B9B9B;
}

.profile-input {
	background-color: transparent;
	color: black;
	font-style: italic;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: right;
}

.profile-input span {
	margin: 10px;
}

.profile-element {
	display: flex;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ACACAC;
}

.profile-element * i {
	font-size: 1.3em;
	margin: 10px;
	color: black;
}

.profile-data {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	justify-content: center;
	background-color: #EEE;
}

.profile-label {
	margin: 10px;
	padding:0;
	color: black;
	font-size: 1.1em;
}

.profilePic{
    height: 300px;
    width: 200px;
    border: 1px solid #ACACAC;
    border-bottom: none;	
}

#changePwdBtn {
	width: 100%;
	margin: 0px 10px;
}

#changePwdForm {
	margin: 30px 0px;
}