<div class="relField">
    <img class="nodeRelPic" ng-src="/usr/{{part.idNEO}}/pic" alt="field pic"/>
    <div class="nodeRelData">
        <label id="title">{{part.name}}</label><br/>
        <label class="partInfo">{{part.parentName}}</label>&nbsp &nbsp<label class="partInfo">{{part.gparentName}}</label>
    </div>
    <div class="nodeFieldBtns">
        <button class="nodeFieldBtn edtSearchBtn" 
                ng-show="session.isLoggedIn()"
                ng-click="subscribe(part.idNEO)">
            <i class="fa fa-fw partFieldIcon" ng-class="users.isSubscribed(part.idNEO)?'fa-star':'fa-star-o'">
                
            </i>
        </button>
        <button class="nodeFieldBtn edtSearchBtn"
                ng-click="location.path('/edt/'+part.idNEO)"><i class="fa fa-fw fa-calendar"></i>
        </button>
    </div>
</div>
