<table id="profileForm">
    <tr class="profile-element" ng-repeat="field in fields" >
        <td><i class="fa {{field.icon}} fa-fw"></i></td>
        <td class="profile-label">{{field.label}}</td>
        <td id="{{field.name}}" class="profile-input">
                <text>{{field.model}}</text>
        </td>
    </tr>
</table>
<div class="sign-btns-container">
	<button id="editprofilebtn" class="profile-btn sign-up-btn" onclick="$('#profileForm * p').prop('contenteditable',true);
		 $('#updateSubmit').prop('disabled',false); $('#updateSubmit > span').removeClass('fa-check fa-warning').addClass('fa-refresh');">Edit Profile <span class="fa fa-pencil"></span></button>
	<button id="updateSubmit" class="profile-btn sign-up-btn" ng-click="updateProfile()" disabled>Update <span id="signinicon" class="fa fa-refresh"></span></button>
</div>
<input id="imginput" type="file" name="image" ng-show="false">
