<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="linkedEnibApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>EDT Facultad de Ingenier&iacute;a - UNCuyo</title>
    <link rel="icon" href="app/favicon.ico" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Static stylesheet for the splash screen -->
    <style>[ng-cloak] {display: none;}</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/styles/splash.css" />
    
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- The splash screen must be first -->
    <div id="splash" ng-cloak>
        <span><i class="fa fa-circle-o-notch fa-spin"></i></span>
    </div>
    <!-- The rest of our app -->
    <div id="content" ng-controller="ParentCtrl" ng-cloak>
	<rsa-nav-bar></rsa-nav-bar>
	<rsa-pub-bar></rsa-pub-bar>
        <div class="site-wrap">
		<div ui-view class="mobile-margin body-wrap"></div>
        </div>
    </div>
    
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div id="RSAversion">
      <!-- Do not remove the following line. It is used by Dockerfile to
        print the website version -->
      <p>Ver xxx</p>
    </div>

    <!-- compiled vendor JavaScript --><% vendorjs.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <!-- compiled app.js JavaScript --><% appjs.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <!-- compiled app providers --><% providers.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <!-- compiled app JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
</body>
</html> 
