<div>
    <div class="input-group">
        <input type="hidden" name="search_param" value="all" id="search_param">         
        <input type="text" edt-enter="search()" class="form-control" id="search_text" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search()"><span class="fa fa-search"></span></button>
        </span>
    </div>
</div>

<label class="nodeRelDataHeading" ng-show="people.length != 0">{{session.translation.admin['rels']}}</label>
<contact-field ops="" person="person" ng-repeat="person in people"></contact-field>
<label class="nodeRelDataHeading" ng-show="parts.length != 0">{{session.translation.admin['parts']}}</label>
<part-field ops="" part="part" ng-repeat="part in parts"></contact-field>