html{
    height: 100%;
}

body{
    height: 100%;
}

[ng-cloak]#splash {
    display: block !important;
}

[ng-cloak] {display: none;}

#splash {
    display: none;
    background: white;
    color: #19a3d1;
    width: 100%;
    height: 100%;
}

#splash span {
    margin: 0;
    font-size: 5em;
    font-weight: 500;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}
