.they-container {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact-field {
	border: none;
	height: auto;
	width: auto;
}

.contact-pic {
	height: 100px;
	width: 100px;
}
