<div class="sign-container">

<div class="about-container">
	<div class="about-contact">
		<div class="aboutPicWrap">
        	<img src="app/images/about/aboutFranco.jpg" class="aboutPic"/>
        </div>
        
        <div class="aboutName">
        	Franco Ardiani
        </div>
        
        <div class="aboutEmail">
        	francoamg@gmail.com
        </div>
	</div>
	
	<div class="about-contact">
		<div class="aboutPicWrap">
        	<img src="app/images/about/aboutAndres.jpg" class="aboutPic"/>
        </div>
        
        <div class="aboutName">
        	Andrés A. Manelli
        </div>
        
        <div class="aboutEmail">
        	andresmanelli@gmail.com
        </div>
	</div>
	
</div>

</div>
