<div id="edt" hidden>
	<div id="edtSearchBar">
		<div class="edtSearchGroup">
			<div id="edtSearchSelect" class="dropdown" ng-show="newActCollapse">
				<button class="edtSearchBtn dropdown-toggle" type="button">
				    <i id="edtSearchIcon" class="fa fa-fw {{searchIcon}}"></i>
				    {{searchTerm}}
				    <span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu scrollable-menu edt-search-dropdown" role="menu">
					<li role="presentation" ng-repeat="item in items.data">
						<a role="menuitem" tabindex="-1" ng-click="this[items.click](item,thisWeek)">{{item.name}}</a>
					</li>
				</ul>
			</div>
			
			<button class="edtSearchBtn" id="clearSearchBtn" ng-click="clearSearch()" ng-show="newActCollapse">
				<i id="edtSearchIcon" class="fa fa-fw fa-close"></i>
			</button>
		</div>

		<div class="edtSearchGroup">
			<div id="edtWeekSelect" class="dropdown" ng-show="newActCollapse">
				<button class="edtSearchBtn dropdown-toggle" type="button">
				    <i id="edtWeekIcon" class="fa fa-fw fa-calendar"></i>
				    Semana {{thisWeek}}
				    <span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu scrollable-menu edt-search-dropdown" role="menu">
					<li role="presentation" ng-repeat="week in weeks">
						<a role="menuitem" tabindex="-1" ng-click="setDates(week)">{{week}}</a>
					</li>
				</ul>
			</div>

			<button class="edtSearchBtn" id="newActivityBtn" ng-click="newActCollapse=!newActCollapse" ng-show="session.isLogged() === 'true' ">
				<i id="newActivityIcon" class="fa fa-fw fa-plus"></i>
			</button>
		</div>
	</div>

	<div id="newActWrap" collapse="newActCollapse">

		<div id="WrongAct" class="alert alert-danger" hidden></div>

		<div class="sign-form activity-form">
		    <form id="newActForm" ng-submit="newActivity(newAct)" data-parsley-validate >
		        <div class="sign-input-wrap">
		            <input id="newActWhen" type="text" ng-model="when" placeholder="Fecha" class="sign-input" data-parsley-ui-enabled="false" required>
		            <input id="newActStart" type="text" ng-model="newAct.ti" placeholder="Inicio" class="sign-input" pattern="[0-9][0-9][h][0-9][0-9]$" ng-change="calcTime()" data-parsley-ui-enabled="false" required>
		            <input id="newActDur" type="text" ng-model="newAct.dur" placeholder="Duración" class="sign-input" pattern="[0-9][0-9][h][0-9][0-9]$" ng-change="calcTime()" data-parsley-ui-enabled="false">
		            <input id="newActEnd" type="text" ng-model="newAct.tf" placeholder="Fin" class="sign-input" pattern="[0-9][0-9][h][0-9][0-9]$" ng-change="calcTime()" required data-parsley-ui-enabled="false">
		        </div>
		        <div class="sign-input-wrap">
	        		<div class="dropdown newActSelect">
	        			<span class="edtSearchBtn newActBtn newActLbl">Categoría</span>
						<button class="edtSearchBtn newActBtn dropdown-toggle" type="button">
							<span class="caret"></span>
						    {{newActCat.name}}
					  	</button>
					  	<ul class="dropdown-menu scrollable-menu edt-newact-dropdown" role="menu">
							<li role="presentation" ng-repeat="cat in actCats">
								<a role="menuitem" tabindex="-1" ng-click="newActSubCats(cat)">{{cat.name}}</a>
							</li>
						</ul>
					</div>
					<div class="dropdown newActSelect">
	        			<span class="edtSearchBtn newActBtn newActLbl">En particular?</span>
						<button class="edtSearchBtn newActBtn dropdown-toggle" type="button">
							<span class="caret"></span>
						    {{newActSubCat.name}}
					  	</button>
					  	<ul class="dropdown-menu scrollable-menu edt-newact-dropdown" role="menu">
							<li role="presentation" ng-repeat="subcat in actSubCats">
								<a role="menuitem" tabindex="-1" ng-click="">{{subcat.name}}</a>
							</li>
						</ul>
					</div>
	        	</div>
	        	<div class="sign-input-wrap">	
					<div class="dropdown newActSelect">
						<span class="edtSearchBtn newActBtn newActLbl">Actividad</span>
						<button class="edtSearchBtn newActBtn dropdown-toggle" type="button">
							<span class="caret"></span>
						    {{newActType.name}}
					  	</button>
					  	<ul class="dropdown-menu scrollable-menu edt-newact-dropdown" role="menu">
							<li role="presentation" ng-repeat="type in actTypes">
								<a role="menuitem" tabindex="-1" ng-click="">{{type.name}}</a>
							</li>
						</ul>
					</div>
					<input id="newActWhere" type="text" ng-model="newAct.where" placeholder="Lugar" class="sign-input" required>
				</div>
		    </form>
		    <div class="sign-input-wrap">
		    	<button  type="submit" form="newActForm" class="sign-up-btn">Guardar</button>
		    	<button class="sign-up-btn" id="clearActBtn" ng-click="clearAct()">
		    		Limpiar
				</button>
		    </div>
	    </div>
	</div>

	<div collapse="!newActCollapse">
		<table id="timeTable">
			<thead class="edt-head">
				<th class="edt-head-wrap">Día</td>
				<th class="edt-head-time-h" id="Hora">Hora</td>
			</thead>			
			<tbody>
				<tr ng-repeat="day in days">
					<td class="edt-days">
						<div ng-click="showTimesV($index)">
							<span id="{{day.name}}"><p>{{day.name}}</p>
							<p>{{day.date}}</p></span>
						</div>
						<div collapse="day.collapsed">
							<div class="chartContainerV" id="{{day.name}}V"></div>
						</div>
					</td>
					<td class="edt-times-h">
						<div class="chartContainer" id="{{day.name}}H"></div>
					</td>
				</tr>
			</tbody>	
		</table>
	</div>
	<div><p class="edt-footer">Asociación de Mecatrónica de Mendoza</p></div>
</div>
