<div class="profile-container">
    <div class="profile-bar">
        <img ng-src="{{image}}" class="profilePic" ng-click="changeProfilePic()"/>
				<div ng-show="showNavBar" class="profile-nav-bar">
				<a class="profile-bar-link" ng-repeat="profileNavItem in profileNavItems" ng-class='{"nav-active": profileNavItem.name===profileTab}' ng-click="click(profileNavItem)" ng-href="{{profileNavItem.href}}">{{profileNavItem.name}}</a>
        </div>
    </div> 

	<div class="profile-data" ng-class='{"hidden": profileTab!="Perfil"}'>    
		<table class="profile-data-table">
			<tr class="profile-element" ng-repeat="field in fields">
				<td><i class="fa {{field.icon}} fa-fw"></i></td>
				<td class="profile-label">{{field.label}}</td>
				<td id="{{field.name}}" class="profile-input">
					<span>{{field.model}}</span>
				</td>
			</tr>
		</table>

		<div class="sign-btns-container" ng-show="showNavBar">
			<button id="editprofilebtn" class="profile-btn sign-up-btn" ng-click="editProfile()">Edit Profile <span class="fa fa-pencil"></span></button>
			<button id="updateSubmit" class="profile-btn sign-up-btn" ng-click="updateProfile()" disabled>Update <span id="signinicon" class="fa fa-refresh"></span></button>
		</div>
		<input id="imginput" type="file" name="image" ng-show="false">
	</div>

	<div class="profile-data" ng-class='{"hidden": profileTab!="Contactos"}'>
		<accordion close-others="true" class="contacts-data">
			<accordion-group heading="My Contacts">
				<div class="input-group" id="filterBar">
					<input type="hidden" name="search_param" value="all" id="search_param">         
					<input ng-blur="applyFilter=false" ng-keyup="filter()" type="text" class="form-control" id="search_text" placeholder="Search..." ng-show="applyFilter">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="applyFilter = !applyFilter" ng-show="applyFilter"><span class="fa fa-search"></span></button>
					</span>
				</div>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="applyFilter = !applyFilter" ng-show="!applyFilter"><span class="fa fa-search"></span></button>
				</span>
				
				<contact-field people="filtered" ops="ops"></contact-field>
			</accordion-group>
			<accordion-group heading="Contact Demands">
				<contact-field people="demandedFriends" ops="ops"></contact-field>
			</accordion-group>
			<accordion-group heading="Contact Requests">
				<contact-field people="requestedFriends" ops="ops"></contact-field>
			</accordion-group>
			<accordion-group heading="Some Suggestions...">
				<contact-field people="suggestedFriends" ops="ops"></contact-field>
			</accordion-group>
		</accordion>
	</div>

	<div class="profile-data" ng-class='{"hidden": profileTab!="Cambiar Contraseña"}'>
		<table class="profile-data-table">
			<tr class="profile-element">
				<td class="profile-label">Antigua contraseña: </td>
				<td class="profile-passInput">
					<input id="pass1" ng-model="personPass.password" type="password" name="oldPass" placeholder="Antigua contraseña" id="oldPass">
				</td>
			</tr>
			<tr class="profile-element">
				<td class="profile-label">Nueva contraseña: </td>
				<td class="profile-passInput">
					<input id="pass2" ng-model="personPass.new" type="password" name="newPass" placeholder="Nueva contraseña" id="newPass">
				</td>
			</tr>
		</table>

		<div class="sign-btns-container">
			<button id="changePassButton" class="profile-btn sign-up-btn" ng-click="changePass(personPass)">Cambiar contraseña <span class="fa fa-refresh"></span></button>
		</div>
	</div>

</div>
